<!doctype html>
<html>
<head>
{% include partials/meta.html %}
</head>
<body class="default {{ page.categories | join: ' ' }} {{ page.class }}">
{% include partials/header.html %}
{% include partials/navigation.html %}
<main class="content">
  {% unless page.identifier == 'home' %}
  <article>
    <header>
      <h1>{{ page.title }}</h1>
      {% if page.categories contains 'updates' %}
      <a href="{{ post.url }}">
        <time datetime="{{ page.date | date_to_rfc822 }}">{{ page.date | date: "%B %d" }}</time>
      </a>
      {% endif %}
    </header>
    {% endunless %}
    {{ content }}
  {% unless page.identifier == 'home' %}
  </article>
    {% endunless %}
</main>
{% include partials/footer.html %}
{% include partials/scripts.html %}
</body>
</html>
