@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url(https://fonts.gstatic.com/l/font?kit=mnZ_UqGSNr6s4eexoLVEqEcqwH9zdArWjc7XlrFd-2TsPXYqTGLZ2U8sggWmBN11vY_KnrbECKVYwT5jML176E-hCdHeAh1EypZggr0U53BuXxQghSWdr5fKRAiL7DYm&skey=357bba6f2f2e9ebf) format('woff2');
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

html {
  box-shadow: inset 0 0 0 5px darksalmon, inset 0 0 0 10px darken(@blue, 10%);
  min-height: 100%;
  padding: 5px;
}

body {
  background-color: @white;
  color: @black;
  font-family: @sansFontFamily;
  font-size: 1.6rem;
  line-height: 1.25;
  position: relative;

  @media print {
    font-size: 1.6 * 0.8rem;
    line-height: 1.5 * 0.8;
    padding-bottom: 0;
    padding-top: 0;
  }
}

a {
  color: @blue;
  transition: color 250ms;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover, &:active, &:focus {
    color: darken(@blue, 10%);
    text-decoration: underline;
  }
}

b {
  font-weight: inherit;
}

em {
  font-style: italic;
}

figure {
  margin-bottom: 2rem;
  position: relative;
  img {
    display: block;
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: @blue;
  font-family: @displayFontFamily;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.1rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

i {
  font-style: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0.625em;
}

strong {
  font-weight: 600;
}

ul {
  list-style: disc;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
