body > header {
  background-image: url('/img/DSC_0198.JPG');
  background-position: center 42%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: space-between;

  div {
    background: fade(white, 90%);
    border: solid @rust 0;
    color: @rust;
    line-height: 0.9;
    padding: 2rem 1rem;

    &:first-child {
      border-right-width: 3px;
      font-size: 1.9rem;
      line-height: 0.9;
      padding-top: 2.5rem;
      width: 57px;
    }

    &:last-child {
      border-left-width: 3px;
      width: 9.4rem;
    }
  }

  span {
    display: block;
    text-align: center;
    &:first-child {
      text-align: left;
      &::after {
        content: '/'
      }
    }
    &:last-child {
      text-align: right;
      &::before {
        content: '/'
      }
    }
  }
}
