.default {

}

.content {
  margin: 0 auto;
  max-width: 60ch;
  padding: 1rem;

  .hero {
    figcaption {
      color: @black;
      position: absolute;
      width: 100%;
    }
    img {
      background-color: #fff;
      box-shadow: 0 10px 6px -6px #777;
      border: solid 1px #777;
      border-radius: 2px;
      padding: 4px;
    }

  }
}
