article {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.625em;
    text-align: left;
  }

  header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  time {
    color: @blue;
  }
}

.content {
  margin: 0 auto;
  max-width: 60ch;
  padding: 1rem;

  .hero {
    figcaption {
      color: @black;
      position: absolute;
      width: 100%;
    }
    img {
      background-color: #fff;
      box-shadow: 0 1rem 0.6rem -0.6rem #777;
      border: solid 1px #777;
      border-radius: 2px;
      padding: 4px;
    }
  }
}
